#img{
    width: 70px;
}
#top_nav{
    background-color: #daac00 !important;
    padding: 0 8%;
}
.navbar-dark .navbar-nav .navbar-link {
 color: rgb(255, 255, 255)!important;
 font-size: 25px;
 padding-left: 30px;
}
#searchbox{
    background-color: #fcc302;
    color: white;
    border: 0px;
    border-radius: 0px;
    position: relative;
    left: 10px;
    box-shadow: 5px 10px 11px 0px  #00000021;
 
}
#searchbox::placeholder{
    color: white;
}
#searchbtn{
    position:relative;
    z-index: 99;
    background-color: #00bec9;
    border: 0px;
    border-radius: 0px;
}
#banner{
    background-color: #fcc302;
    padding-bottom: 20px;
}
#bannertext{
    font-size: 40px;
    color: azure;
    margin-top: 100px;
}
#bannertextp{
    font-size: 20px;
    color:  white;
    margin-top: 30px;
    margin-bottom: 20px;
}
#button1{
    background-color: #00bec9;
    border: 2px solid #00bec9;
    color: white;
}
#button2{
    color: white;
    border: 2px solid white;
    margin-left: 20px;
}
#servicetext{
    padding-top: 10%;
    padding-bottom: 5%;
}
#buttonservice{
    color: aliceblue;
    background-color: #00bec9;
    border: 2px solid #00bec9 ;
}
#serviceimg{
    padding: 8%;
}
#servicerow{
    background-color: #f5dc87;
}
#countersection{
    background-image: url(../images2/wooden-board-empty-table-top-blurred-background.jpg);
    padding-top: 50px;
    padding-bottom: 70px;
    background-position: center;
    background-size: cover;
}
.counter-icon{
    font-size: 70px;
}