html {
    height: 100%;
    width: 100%;
  }
  .button{
    padding: 20px;
      margin: 4px 4px;
      border: 2px solid black;
      border-radius: 10px;
      cursor: pointer;
      width: 63px;
      background-color: #80c8f5;
  }
  .input{
      width: 91%;
      border: 2px solid black;
      padding: 10px;
      border-radius: 8px;
    background-color: #c987e8;
  }
  .button:hover{
    color:white;
    background-color: rgb(90, 47, 183);
    transition: 0.2;

  }