@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@500;800&family=Fira+Sans+Condensed:wght@300&display=swap');
body{
    background-color: rgb(193, 100, 231);

}
*{
    margin: 0px;
    padding: 0px;
}
nav{
    font-family: 'Encode Sans SC', sans-serif;
}
nav ul{
    display: flex;
    list-style-type: none;
    height: 55px;
    align-items: center;
    background-color: black;
    color: rgb(54, 211, 109);
}
nav ul li{
    padding: 0px 12px;
}
.brand img{
    width: 85px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.container{

    min-height: 50vh;
    background-color: black;
    color: white;
    font-family: 'Encode Sans SC', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 80%;
    border-radius:  12px; 
    padding: 30px;
    background-image: url('1.jpg');
}
.bottom{
    position: sticky;
    background-color: black;
    color: white;
    height: 100px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#myProgressBar{
    width: 80vw;
    cursor: pointer;
}
.icons{
    margin-top: 15px;
}
.icons i{
    cursor: pointer;
}
.songItems{
    height: 38px;
    display: flex;
    background-color: rgb(119, 10, 147);
    color:white;
    margin: 7px 0;
    justify-content: space-between;
    align-items:center;
    border-radius: 25px;
    border: 2px solid black;
}
.songItems img{
    width: 25px;
    margin:0 15px;
    border-radius: 60px;

}
.timestamp{
    margin: 0 23px;
    cursor: pointer;
}
.songItemContainer{
    margin-top: 10px;
}
.songInfo{
    position: absolute;
    left: 10vw;
    justify-content: center;
    align-items: center;
    font-family: 'Encode Sans SC', sans-serif;
}
.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}